<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siker</title>
</head>
<style>
    h1{
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
<body>
    <h1>Sikeres Rendelés!</h1>
</body>
</html>